.App {
  text-align: center;
  margin-top: 0;
}


/* header{
  position: fixed;
  width: 100%;
  background-color: white;
} */

/* .page{
  padding-top: 200px;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  background-color: transparent;
}

.backgroundHome{
  background-image: url('./Radio_street_EP3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .loading {
  background-image: url('./LoadingPageBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  text-align: center;
  text-justify: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}